<div class="container">

<div class="row" style="padding: 3rem">
  <div class="col-lg-4"></div>
  <div class="col-lg-4 login">

          <form [formGroup]="loginForm" (ngSubmit)="onLogin()" >
              <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" class="form-control" formControlName="username" id="exampleInputEmail1" placeholder="Enter username">
            
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" formControlName="password" id="exampleInputPassword2" placeholder="Password">
              </div>
            <p style="color: brown; font-size: 12px">{{error}}</p>
            <div class="text-center">
              <button type="submit" [disabled]="!loginForm.valid" class="btn btn-success">Login</button>
            </div>
          </form>
  
  </div>
  <div class="col-lg-4"></div>
</div>
</div>